body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
}

#container {
    width: 320px;
    height: 460px;
    background-size: 650px;
    background: url(/images/background.jpg) -100px 0;
    overflow: hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#glcanvas {
}
